<div ng-controller='videoCtrl' style="width:90%;margin:0 auto;">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" id="myVideo"></iframe>
    </div>
    <div class="text-center">
        <h3>Choose another one</h3>
    </div>
    <div style="position:relative">
        <div class="carousel slide" id="myCarousel" data-interval="false">
            <div class="carousel-inner">
                <div class="item" ng-class="$index==0?'active':''" ng-repeat="video in videos" on-finish-render="ngRepeatFinished">
                    <div class="col-xs-3" style="position:relative" ng-repeat="subVideo in video.video">
                        <img src="{{subVideo.source.imgSrc}}" class="img-responsive video-img" ng-click="changeVideo(subVideo.source,subVideo.id,plays[subVideo.id])">
                        <div class="play-button" playing="{{plays[subVideo.id]}}" ng-click="changeVideo(subVideo.source,subVideo.id,plays[subVideo.id])"></div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left work_pointer"></i></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right work_pointer"></i></a>
    </div>
    <div>
        <form class="c-textarea" name="comment_form" ng-submit="saveComment()">
            <h3>ALL COMMENTS ({{comments.length}})</h3>
            <textarea class="form-control" rows="5" id="comment" placeholder="Add a public comment..." required ng-model="commentText"></textarea>
            <div class="text-right" style="margin-top:10px;">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info" ng-disabled="comment_form.$invalid">Post</button>
            </div>
        </form>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="comment in comments"><span class="c-username">{{comment.author}}</span><span class="c-time">{{comment.creatTime|fromNow }}</span>
                <div class="c-comment">{{comment.comment}}</div>
            </li>
        </ul>
    </div>
</div>
