$blue:#66ccff;
$light-grey:#b8b894;
.carousel-inner .active.left {
    left: -25%;
}

.carousel-inner .next {
    left: 25%;
}

.carousel-inner .prev {
    left: -25%;
}

.carousel-control {
    width: 4%;
}

.carousel-control.left,
.carousel-control.right {
    top: -10%;
    background-image: none;
}

.video-img:hover {
    cursor: pointer;
}

.c-textarea {
    margin-top: 30px;
    margin-bottom: 30px;
}

.list-group-item {
    border-left: none;
    border-right: none;
}

.c-username {
    color: $blue;
    font-weight: bold;
}

.c-time {
    color: $light-grey;
    margin-left: 20px;
    font-size: 0.8em;
}

.play-button[playing="play"] {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 50px;
    height: 34px;
    background: url(../images/src/app/play_button.png);
    opacity: 0.8;
}

.video-img:hover+div,
.play-button:hover {
    background: url(../images/src/app/play_button_hover.png);
    cursor: pointer;
}
