@media screen and (max-width: 1710px) {
    .todo-wrapper {
      width: 70%;
    }
}

@media screen and (max-width: 1490px) {
    .todo-wrapper {
      width: 65%;
    }
}

@media screen and (max-width: 1340px) {
    .todo-wrapper h2 {
      font-size: 2em;
    }
    .emphasis {
      font-size: 3em;
    }
}

@media screen and (max-width: 1310px) {
    #calendar {
      float: none;
    }
    .todo-wrapper {
      width: 100%;
    }
}

@media screen and (min-width: 1711px) {
    .todo-wrapper {
      width: 75%;
    }
}

@media screen and (min-width:1341px){
    .todo-wrapper h2 {
      font-size: 3em;
    }
    .emphasis {
      font-size: 4em;
    }
}

@media screen and (min-width: 1311px) {
    #calendar {
      float: left;
    }
}



#calendar {
  /*float: left;*/
  margin-right: 10px;
  margin-left: 10px;
  width: 300px;
  height: 350px;
}

.todo-wrapper {
  background: #f2f2f2;
  /*width: 75%;*/
  float: right;
  margin-right: 20px;

}

.todo-wrapper h3 {
  margin-left: 30px;
}

.todo-wrapper h2 {
  /*font-size: 3em;*/
  font-family: megrim, fantasy;
  background: #d9d9d9;
  padding: 40px;
  margin: 0;
  color: #333;
  text-align: center;
  height: 260px;
}

.emphasis {
  font-family: vast-shadow, sans-serif;
  /*font-size: 4em;*/
}

#tasklist {
  padding: 0px;
  margin: 10px;
}
.addedtask {
  font-family: megrim, fantasy;
  font-size: 30px;
  padding: 10px;

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#808080));
  background: -webkit-linear-gradient(#f2f2f2 0%, #808080 100%);
  background: -moz-linear-gradient(#f2f2f2 0%, #808080 100%);
  background: -o-linear-gradient(#f2f2f2 0%, #808080 100%);
  background: linear-gradient(#f2f2f2 0%, #808080 100%);
 /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65d8cb', endColorstr='#72f4e9',GradientType=0 );*/
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
/*this can change the sive of the check box*/
.addedtask input[type="checkbox"] {
  width: 40px;
      /* All browsers except webkit*/
  transform: scale(2.5);

  /* Webkit browsers*/
  -webkit-transform: scale(2.5);
}
/*========================================================================*/

.done-true {
  text-decoration: line-through;
  color: #ddd;
}

.add-input {
  width: 60%;
  height: 20px;
  float: left;
  border: solid 5px #999999;
  padding: 40px 0;
  font-size: 2em;
  font-family: megrim, fantasy;
  text-indent: 55px;
}

.add-btn {
  width: 40%;
  border: none;
  

  background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#99ff66));
  background: -webkit-linear-gradient(white 0%, #99ff66 100%);
  background: -moz-linear-gradient(white 0%, #99ff66 100%);
  background: -o-linear-gradient(white 0%, #99ff66 100%);
  background: linear-gradient(white 0%, #99ff66 100%);

  padding: 0;
  height: 90px;
  font-family: megrim, fantasy;
}
.add-btn h2 {
  
  padding: 0;
  font-size: 4em;
  font-family: megrim, fantasy;
  color: #333;
}

.clear-btn {
  width: 100%;
  border: none;
  height: 100px;
  background: #ffad99;
  font-size: 2em;
  font-family: megrim, fantasy;
  color: black;
  margin-top: 5px;
}