.overview-body {
  text-align: left;
  margin: 10px; }

.my-jumbotron {
  border-radius: 5px;
  margin: 10px; }

.overview-body > h1,
.overview-body > div > div {
  margin-top: 15px;
  margin-bottom: 15px; }

a {
  text-decoration: none; }

.my-image {
  width: 200px;
  height: 200px; }
